body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Gill Sans W04 Roman";
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
