body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* H1, H2, etc. */

h1 {
  font-size: 32px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 19px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.article-meta h1 {
  font-weight: normal;
}

/* First line */
.main p:first-of-type::first-line {
  font-variant: small-caps;
  letter-spacing: .05em;
  font-size: 1.1em;
}
.main p:first-of-type::first-letter {
  font-size: 3em;
  padding: .1em .1em 0 0;
  float: left;
  line-height: 1em;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.menu a { color: black; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { 
  text-decoration: none;
  color: black;
}

.title {
  line-height: 1em;
}

.menu li a {
  border-bottom: none;
}

.menu .active a {
  text-decoration: underline;
}

.menu .active a:hover {
  text-decoration: none;
}

.menu li a:hover {
  color: gray;
}

footer a:hover { 
  color: gray;
}

hr {
  border-style: solid;
  color: #ddd;
}

.rule {
  border-style: solid;
  margin-left: 40%;
  margin-right: 40%;
}

/* links */
p a { 
  color: black; 
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

p a:hover {
  text-decoration: none;
  border-bottom: none;
}

li a {
  color: black; 
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}
li a:hover {
  border-bottom: none;
}

a.symbol {
  color: black;
  padding-left: 5px;
}

a.symbol:hover {
  color: gray;
}

/* button */
.button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #eee;
}

.button:hover {
  color: gray;
}

/* footer license */
.copyright {
    float: right;
}

/* Footnotes */

.footnotes {
  font-size: .9em;
  line-height: 1em;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  background: #f8f8f8;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
