  <footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ . | markdownify }}
  {{ end }}
  
  {{ if not .IsPage }}
  
  {{ with .Site.Params.github }}
  <br> <a class="symbol" href='{{ . }}'><i class="fab fa-github"></i></a>
  {{ end }}
  
  {{ with .Site.Params.linkedin }}
  <a class="symbol" href='{{ . }}'><i class="fab fa-linkedin"></i></a>
  {{ end }}
  
  {{ with .Site.Params.strava }}
  <a class="symbol" href='{{ . }}'><i class="fab fa-strava"></i></a>
  {{ end }}
  
  {{ end }}
  
  {{ if not .IsHome }}
  {{ if .IsPage }}
  {{ if .File.Path }}

  {{ $Rmd := (print .File.BaseFileName ".Rmd") }}

  {{ if (where (readDir (print "content/" .File.Dir)) "Name" $Rmd) }}
    {{ $.Scratch.Set "FilePath" (print .File.Dir $Rmd) }}
  {{ else }}
    {{ $.Scratch.Set "FilePath" .File.Path }}
  {{ end }}

  {{ with .Site.Params.GithubEdit}}
  <br> <a href='{{ . }}{{ $.Scratch.Get "FilePath" }}'>Edit this page</a>
  {{ end }}
  
  {{ with .Site.Params.github }}
  <br> <a class="symbol" href='{{ . }}'><i class="fab fa-github"></i></a>
  {{ end }}
  
  {{ with .Site.Params.linkedin }}
  <a class="symbol" href='{{ . }}'><i class="fab fa-linkedin"></i></a>
  {{ end }}
  
  {{ with .Site.Params.strava }}
  <a class="symbol" href='{{ . }}'><i class="fab fa-strava"></i></a>
  {{ end }}
  
  {{ end }}
  {{ end }}
  {{ end }}
  
  <br>
  
  <a class="cert-logo" style="width:19%" rel="cert" href="https://www.credly.com/badges/a6ddfcf3-b918-4fc5-b94b-8392a1da1bf6/public_url"><img src="/images/adv_cert.svg" /></a>
  
  <a class="copyright" style="width:12%" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-nc-sa.eu.svg" /></a>
  
  </footer>
  </body>
</html>
